body{
    text-align: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: #3e4042;
}

.btnList{
    position: relative;
    top: 2px;
    left: 20px;
    font-size: 45px;
    color: white;
    background-color: #baad6c;
    border-radius: 10px;
    cursor: pointer;
}

.menuLateral{
    position: absolute;
    top: 75px;
    left: 0;
    width: 250px;
    height: 89vh;
    border-bottom-right-radius: 10px;
    background-color: #3e4042;
    overflow: auto;
    transition: all 1.5s ease-in-out;
    transform: translateX(-250px);
}

.pMl{
    position: relative;
    left: 20px;
    color: white;
    cursor: pointer;
}

.pMlB{
    position: relative;
    padding-bottom: 0px;
    left: 20px;
    top: 65%;
    cursor: pointer;
    color: white;
}

.categorias{
    position: relative;
    top: -18px;
    left: 40px;
    color: white;
    overflow: hidden;
    height: 0px;
    transition: all 1s ease-in-out;
}

.categorias label{
    cursor: pointer;
    display: list-item;
}

.searchFilter{
    position: absolute;
    top: 20px;
    right: 170px;
    outline: none;
}

.imgLogo{
    position: relative;
    top: -10px;
    height: 80px;
}

.imgUser{
    position: absolute;
    top: 1.5px;
    width: 67px;
    right: 30px;
    border-radius: 50%;
}

.userMain{
    position: absolute;
    top: 70px;
    right: 0px;
    width: 150px;
    height: 0px;
    background-color: #3e4042;    
    color: white;
    border-bottom-left-radius: 15px;
    /* display: none; */
    overflow: hidden;
    transition: all 2s ease-out;
    z-index: 2;
}

a{
    text-decoration: none;
}
.exData{
    position: relative;
    color: white;
    left: 15px;
    cursor: pointer;
}

.showUser{
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    width: 500px;
    height: 300px;
    display: none;
    background-color: #3e4042;
    border-radius: 15px;
    z-index: 2;
    color: white;
}

.showData{
    background-color: #3e4042;
    border: none;
    color: white;
    font-size: 20px;
}

.styleP{
    position: relative;
    left: 30px;
    top: 60px;
}

.titleData{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 30px;
}

.imgEyeslash{
    position: relative;
    height: 15px;
    left: 40px;
    top: 30px;
    cursor: pointer;
}

.containerConPass{
    position: relative;
    display: flex;
    top: 30px;
    left: 30px;
}

.confirmPass{
    display: none;
}

.btnConPass{
    display: none;
}


/* Atualização de usuário. */
.upUser{
    position: absolute;
    top: 160%;
    left: 50%;
    height: 300px;
    width: 500px;
    transform: translateX(-50%);
    border-radius: 15px;
    display: none;
    text-align: center;
    background-color: #3e4042;
    color: white;
}

.upUser label{
    font-size: 30px;
}

.upUser input{
    position: relative;
    top: 50px;
}

.upUser div{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    column-gap: 30px;
}

.upUser button{
    position: relative;
    top: 90px;
}


/* Elementos gerados por JavaScript */
.contVal{
    position: relative;
    top: 7px;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    z-index: 0;
    background-color: #baad6c;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow: auto;
}

.displayMidia{
    position: relative;
    width: 50%;
    height: 250px;
    display: block;
    padding-left: 15px;
    margin-bottom: 20px;
}

.displayMidia label{
    position: relative;
    top: 5px;
    /* left: 10px; */
}

.displayHeadMidia{
    display: flex;
}

.titleCont{
    font-size: 25px;
}

/* Seção de informações de postagens */
.showPost{
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-237.5%);
    z-index: 2;
    height: 650%;
    width: 700px;
    background-color: #3e4042;
    transition: all 2s ease-in-out;
    overflow: auto;
}

.showPost p{
    margin-top: 20px;
    margin-left: 10px;
    color: white;
}

.postBtn{
    position: absolute;
    top: 15px;
    right: 20px;
    width: 60px;
    border: none;
    border-radius: 5px;
}

.postBtnEx{
    position: absolute;
    top: 50px;
    right: 20px;
    width: 60px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: red;
}

.imagePost{
    position: relative;
    margin: auto;
    border-radius: 10px;
}

.positionElements{
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
}